P {
  font-family: Arial, Helvetica;
  font-size: 12pt;
}

TH {

    font-family: Arial, Helvetica; 
    font-size: 11pt; 
    font-weight: bold
}

TD {
  font-family: Arial, Helvetica;
  font-size: 11pt;
}

H1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18pt;
}

H2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
}

H3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
}

LI {
  font-family: Arial, Helvetica;
  font-size: 12pt;
}

UL {
  font-family: Arial, Helvetica;
  font-size: 12pt;
}

H4 {
  font-family: Arial, Helvetica;
  font-size: 12pt;
}

CENTER {
  font-family: Arial, Helvetica;
  font-size: 12pt;
}

.advice {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
}


TH {

    font-family: Arial, Helvetica, sans-serif; 
    font-size: 12px; 
    font-weight: bold
}