A {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
}

H1 {
  font-family: Arial, Helvetica, sans-serif;
} 

H2 {
  font-family: Arial, Helvetica, sans-serif;
}

H3 {
  font-family: Arial, Helvetica;
}

P {
  font-family: Arial, Helvetica;
  font-size: 12pt;
}

BODY {
  background-image: url(Bk10a.GIF);
; font-family: Arial, Helvetica, sans-serif
}
TD {font-family: Arial, Helvetica, sans-serif}
