td {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; border-color: black #000000 #000000 black}
th {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; text-decoration: underline; border: #000000}
.title {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: italic; font-weight: bold; border: #000000; border-style: solid; border-top-width: thin; border-right-width: thin; border-bottom-width: thin; border-left-width: thin}
.finep {  font-family: Arial, Helvetica, sans-serif; font-size: 9px}
BODY {
  background-image: url(../Bk10a.GIF);