.help-block{
	color :#e73d4a;
}
.box-setting{
	padding: 20px; background-color: #fff;margin-bottom: 50px;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(207,205,207,1);
	-moz-box-shadow: 0px 0px 8px 0px rgba(207,205,207,1);
	box-shadow: 0px 0px 8px 0px rgba(207,205,207,1);
	border-radius: 5px;
}
.faq-content-1 .faq-section {
	border:1px solid #f9f9f9;
}

/* Bootstrap carousel-captions text center */

.carousel-caption {
	top: 45%;
	transform: translateY(-45%);
}
.hom-caro img{
	/*height: 500px !important;*/
	width: 100%;
	background-position: center;
}
.hom-caro h1{
	color: #fff;
	font-weight: 600;
}
.hom-caro h3{
	color: #fff;
	font-weight: 300;
}