td.details-control {
    background: rgba(0, 0, 0, 0) url("../images/details_open.png") no-repeat scroll center center  !important;
    cursor: pointer;
    width: 18px;
}
tr.shown td.details-control {
    background: rgba(0, 0, 0, 0) url("../images/details_close.png") no-repeat scroll center center !important;
}
.datatable-slide{
	max-width:220px;
	max-height:100px;
}