td {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-image: none; font-weight: bold}
h2 {  font-family: Arial, Helvetica, sans-serif}
body {  background-image: url(Bk10a.GIF)}
h1 {  font-family: Arial, Helvetica, sans-serif}
