/* Controls
---------------------------------------------------------------------- */
.controls {
    padding: 1rem;
    background: #333;
    font-size: 0.1px;
}

.control-group {
    display: inline-block;
    margin-left: .75rem;
    vertical-align: top;
    margin-bottom: 5px;
}
.checkbox-group{
	margin-bottom: 10px;
}

.control {
    position: relative;
    display: inline-block;
    width: 2.7rem;
    height: 25px;
    background: #444;
    cursor: pointer;
    font-size: 0.1px;
    color: white;
    transition: background 150ms;
}

.control-text {
    width: auto;
    font-size: .9rem;
    padding: 0 1rem;
    font-family: arial, sans-serif;
    font-weight: 700;
}

.control-group-label{
	color:#EEEEEE;
}

.control:not(.mixitup-control-active):hover {
    background: #3f3f3f;
}

.control-age:after,
.control-weight:after,
.control-height:after {
    content: '';
    position: absolute;
}

.control-gender:after {
	width: 10px;
    height: 10px;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    border: 2px solid currentColor;
    border-radius: 2px;
    background: currentColor;
    transition: background-color 150ms, border-color 150ms;
}

.control-gender:after[data-filter="all"]{
    content: normal;
}

.control-gender[data-filter="all"] {
    color: #FFFFFF;
}

.control-gender[data-filter=".M"] {
    color: #FF000;
}

.control-gender[data-filter=".F"] {
    color: #FF000;
}

.control-sort:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-left: 2px solid;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    transform:  translateY(2px) rotate(45deg);
}

.control-sort[data-sort*=":desc"]:after {
    transform:  translateY(-3px) rotate(-135deg);
}

.mixitup-control-active {
    background: #393939;
}

.control:first-of-type {
    border-radius: 3px 0 0 3px;
}

.control:last-of-type {
    border-radius: 0 3px 3px 0;
}

/* Pagination Controls
---------------------------------------------------------------------- */

.controls-pagination {
    padding: 1rem;
    font-size: 0.1px;
    text-align: justify;
}

.controls-pagination:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.mixitup-page-list,
.mixitup-page-stats {
    display: inline-block;
    vertical-align: middle;
}

.mixitup-page-list {
    text-align: left;
}

.mixitup-page-stats {
    font-size: .9rem;
    color: #333;
    font-weight: bold;
    font-family: arial, sans-serif;
}

.mixitup-control {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 2.7rem;
    height: 2.7rem;
    background: #fff;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    margin-right: 1px;
    cursor: pointer;
    font-size: .9rem;
    color: #333;
    font-weight: bold;
    font-family: 'helvetica', arial, sans-serif;
    transition: color 150ms, border-color 150ms;
    vertical-align: middle;
}

.mixitup-control:first-child {
    border-radius: 3px 0 0 3px;
}

.mixitup-control:last-child {
    border-radius: 0 3px 3px 0;
}

.mixitup-control:not(.mixitup-control-active):hover {
    color: #91e6c7;
}

.mixitup-control-active {
    border-bottom-color: #91e6c7;
    cursor: default;
}

.mixitup-control:disabled {
    background: #eaeaea;
    color: #aaa;
    cursor: default;
}

.mixitup-control-truncation-marker {
    background: transparent;
    pointer-events: none;
    line-height: 2.2em;
}

/* Container
---------------------------------------------------------------------- */

.container {
    padding: 1rem;
    color:#000;
}

.container:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.text-input-wrapper {
    display: inline-block;
    padding: .3rem;
    background: #2a2a2a;
    margin-left: .75rem;
    vertical-align: top;
}

.text-input-wrapper input {
    font-family: arial, sans-serif;
    font-size: .8rem;
    padding: .3em;
    border-radius: 2px;
    border: 0;
}
.checkbox-group,
.filter-group {
    display: inline-block;
    padding: .5rem;
    background: #2a2a2a;
    margin-left: .75rem;
    vertical-align: top;
}

.checkbox {
    text-align: justify;
}

.checkbox:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.checkbox-input,
.checkbox-label,
.select-label {
    display: inline-block;
}

.filter-group-label,
.checkbox-group-label,
.checkbox-label,
.select-label {
    color: white;
    font-family: arial, sans-serif;
    font-size: .9rem;
}

.filter-group-label,
.checkbox-group-label {
    font-weight: bold;
    display: block;
    margin-bottom: .5rem;
}

.checkbox-label,
.select-label {
    margin-right: 2rem;
}

.control-group select{
	font-size:12px;
}

.checkbox-inner {
	margin-bottom: 2px;
	margin-top: 2px;
}

.select-wrapper label{
	min-height: 20px;
	padding-left: 20px;
	margin-bottom: 0;
	font-weight: 400;
	cursor: pointer;
}


/* Target Elements
---------------------------------------------------------------------- */

.mix,
.gap {
    display: inline-block;
    vertical-align: top;
}

.mix {
    background: #fff;
    margin-bottom: 1rem;
    position: relative;
    height: 355px;
}

.mix:before {
    content: '';
    display: inline-block;
    padding-top: 100%;
}

.mix.F{border-top: .5rem solid #FF69B4;}
.mix.M{border-top: .5rem solid #0000FF;}

.mix-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
	line-height: 1.1em;
    color: #000;
}

.mix-content h2{
	font-size: 18px;
	font-weight: 600;
	padding-bottom: 4px;
}

.mix.green {
    color: #91e6c7;
}

.mix.pink {
    color: #d595aa;
}

.mix.blue {
    color: #5ecdde;
}

.mix .actorThumb{
	padding:4px;
	border: 2px solid #000;
}

.mix:after {
    content: '';
    position: absolute;
}

.mix.square:after,
.mix.circle:after {
    width: 40%;
    height: 40%;
    top: 30%;
    left: 30%;
    background: currentColor;
    border-radius: 3px;
}

.mix.circle:after {
    border-radius: 100%;
}

.mix.triangle:after {
    font-size: 3vw;
    border: 3em solid transparent;
    border-bottom: 5em solid currentColor;
    border-top: 0;
    left: calc(50% - 3em);
    top: calc(50% - 3em);
}

.mix.medium:after {
    transform: scale(.75);
}

.mix.small:after {
    transform: scale(.5);
}

/* Grid Breakpoints
---------------------------------------------------------------------- */

/* 2 Columns */

.mix,
.gap {
    width: calc(100%/1 - ((1 * 1rem) / 2));
}

/* 3 Columns */

@media screen and (min-width: 541px) {
    .mix,
    .gap {
		width: calc(100%/2 - (((2 - 1) * 1rem) / 2));
    }
}

/* 4 Columns */

@media screen and (min-width: 961px) {
    .mix,
    .gap {
        width: calc(100%/3 - (((3 - 1) * 1rem) / 3));
    }
}

/* 5 Columns */

@media screen and (min-width: 1281px) {
    .mix,
    .gap {
        width: calc(100%/4 - (((4 - 1) * 1rem) / 4));
    }
}

/* 6 Columns */

@media screen and (min-width: 1401px) {
    .mix,
    .gap {
        width: calc(100%/5 - (((5 - 1) * 1rem) / 5));
    }
}